
    <div class="col-xl-12 col-md-6">
      <div class="box columnbox mt-4">
        <apx-chart
          *ngIf="columnChartOptions"
          [series]="columnChartOptions.series"
          [chart]="columnChartOptions.chart"
          [xaxis]="columnChartOptions.xaxis"
          [stroke]="columnChartOptions.stroke"
          [dataLabels]="columnChartOptions.dataLabels"
          [fill]="columnChartOptions.fill"
          [title]="columnChartOptions.title"
          [subtitle]="columnChartOptions.subtitle"
          [legend]="columnChartOptions.legend"
        ></apx-chart>
      </div>
    </div>
    <div class="col-xl-12 col-md-6">
      <div class="box mt-4 mb-4">
        <apx-chart
          *ngIf="lineChartOptions"
          [series]="lineChartOptions.series"
          [chart]="lineChartOptions.chart"
          [xaxis]="lineChartOptions.xaxis"
          [stroke]="lineChartOptions.stroke"
          [dataLabels]="lineChartOptions.dataLabels"
          [title]="lineChartOptions.title"
          [subtitle]="lineChartOptions.subtitle"
          [legend]="lineChartOptions.legend"
          [grid]="lineChartOptions.grid"
          [markers]="{ size: 0 }"
        ></apx-chart>
      </div>
    </div>
